MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587

BREVO_SMTP_USER=your_brevo_login_email@example.com
BREVO_SMTP_KEY=your_brevo_smtp_key

MAIL_FROM=noreply@yourdomain.com
MAIL_FROM_NAME="Your Company Name"
MAIL_TO=recipient@yourdomain.com
